body {
	background-image: url("img/overlay-img.png");
	background-repeat: no-repeat;
}

.overlay-frame {
	width: 1280px;
	height: 720px;
	font-family: 'Courier New', Courier, monospace;
	font-weight: 600;
	position: relative;
}

.chat {
	height: 368px;
	width: 255px;
	background-color: #EEEEEE;
	margin: 204px 21px 0 0;
	float: right;
	line-height: 4px;
}

.ticker {
	height: 48px;
	width: 1008px;
	position: absolute;
	bottom: 8px;
	left: 0;
	margin-left: -8px;
}

.ticker-text {
	font-size: 28px;
	display: table-cell;
	vertical-align: middle;
	line-height: 48px;
	width: 1008px;
}