.overlay-frame {
	width: 1280px;
	height: 720px;
	background-color: #CCCCCC;
}

.chat {
	height: 400px;
	width: 320px;
	background-color: #666666;
	margin: 200px 0 0 0;
	float: right;
}

.ticker {
	height: 50px;
	width: 900px;
	vertical-align: bottom;
	background-color: #999999;
}