body {
	background-image: url("img/overlay-img.png");
	background-repeat: no-repeat;
}

.overlay-frame {
	width: 1280px;
	height: 720px;
	font-family: 'Courier New', Courier, monospace;
	font-weight: 600;
	position: relative;
}

.right-panel {
	float: right;
	margin: 204px 20px 0 0;
}

.chat {
	position: relative;
	height: 369px;
	width: 256px;
	background-image: url('img/chatback.png');
	background-position: center;
}

#chat_embed {
	border: none;
	background-color: rgba(10, 10, 10, 0.7);
	height: 100%;
	width: 100%;
}

.couch {
	position: relative;
	height: 135px;
	width: 255px;
	color: #FFFFFF;
	font-weight: 700;
	text-shadow: 2px 2px 1px black;
	text-align: center;
	display: table;
	margin-top: 6px;
	background-image: url('img/blank-couch.png');
	background-repeat: no-repeat;
	overflow: visible;
}

.streamer-header {
	font-size: 18px;
	height: 24px;
	display: table-row;
}

.streamers {
	font-size: 24px;
	line-height: 27px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding: 0 10px 10px 10px;
}

.ticker {
	position: absolute;
	height: 48px;
	width: 1016px;
	bottom: 8px;
	left: 0;
	margin-left: -8px;
}

.marquee {
	font-size: 18px;
	color: #424242;
	/*display: table-cell;
	vertical-align: middle;*/
	line-height: 48px;
	width: 1016px;
	overflow: hidden;
}